<span class={{this.computedClass}}>
  <InputModelAutocomplete
    @modelName={{@modelName}}
    @value={{value}}
    @inputId={{@inputId}}
    @placeholder={{@placeholder}}
    @valueChanged={{action 'doChangeValue'}}
    @options={{hash hideClear=true}}
    @baseQuery={{@baseQuery}} />

  {{#if this.computedValue}}
    <button type="button" class="btn btn-default waves-effect btn-link" {{action 'clearLookup'}}>
      <IconRemove />
    </button>
  {{/if}}

  <InputLookupWindow
    @title={{this.modelTitle}}
    @baseQuery={{@baseQuery}}
    @modelName={{@modelName}}
    @activeModelName={{this.activeModelName}}
    @valueChanged={{action 'doChangeValue'}} />
</span>
