<span class={{this.computedClass}}>
  {{#if @prefix}}
    <div class="input-group-prepend">
      <span class="input-group-text prefix">{{@prefix}}</span>
    </div>
  {{/if}}
  <InputModelAutocomplete
    @modelName={{@modelName}}
    @value={{@value}}
    @inputId={{@inputId}}
    @placeholder={{@placeholder}}
    @valueChanged={{action this.valueChanged}}
    @options={{hash hideClear=true}}
    @baseQuery={{@baseQuery}} />

  <div class="input-group-append">
    {{#if @value}}
      <button type="button" class="btn btn-default" {{on "click" this.clearLookup}}>
        <IconRemove />
      </button>
    {{/if}}
    <InputLookupWindow
      @title={{this.modelTitle}}
      @baseQuery={{@baseQuery}}
      @modelName={{@modelName}}
      @activeModelName={{this.activeModelName}}
      @valueChanged={{action this.valueChanged}} />
    {{#if @suffix}}
      <span class="input-group-text suffix">{{@suffix}}</span>
    {{/if}}
  </div>
</span>
