<div class="field-wrapper">
  {{!-- {{input-model-autocomplete modelType=modelType filters=lookupFilters value=value triggerId=inputId placeholder=placeholder hideClear=true valueChanged=(action 'typeaheadSelected')}} --}}

  <InputModelAutocomplete
    @modelName={{@modelName}}
    @value={{value}}
    @inputId={{@inputId}}
    @placeholder={{@placeholder}}
    @valueChanged={{action 'doChangeValue'}}
    @options={{hash hideClear=true}}
    @conditions={{@conditions}} />

  {{#if computedValue}}
    <button type="button" class="btn btn-default waves-effect waves-circle" {{action 'clearLookup'}}>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  {{/if}}

  <InputLookupWindow
    @title={{this.modelTitle}}
    @conditions={{@conditions}}
    @modelName={{@modelName}}
    @activeModelName={{this.activeModelName}}
    @valueChanged={{action 'doChangeValue'}} />
</div>
