<div class="field-wrapper">
  {{!-- {{input-model-autocomplete modelType=modelType filters=lookupFilters value=value triggerId=inputId placeholder=placeholder hideClear=true valueChanged=(action 'typeaheadSelected')}} --}}

  <InputModelAutocomplete
    @modelName={{@modelType}}
    @value={{value}}
    @inputId={{@inputId}}
    @placeholder={{@placeholder}}
    @valueChanged={{action 'typeaheadSelected'}}
    @options={{hash hideClear=true}}
  />

  {{#if computedValue}}
    <button type="button" class="btn btn-default waves-effect waves-circle" {{action 'clearLookup'}}>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  {{/if}}

  {{input-lookup-window title=modelTitle modelType=modelType filters=lookupFilters activeModelType=activeModelType valueChanged=(action 'typeaheadSelected')}}
</div>
