{{#if setListViews.isIdle}}
  <ul class="list-view-tabs{{if (eq bootstrapVersion 4) ' nav nav-tabs' ' tab-nav'}}" role="tablist">
    {{#each this.listViewSelectOptions as |listView|}}
      <li class="{{if (eq listView.value this.selectedValue) 'active'}}{{if (eq bootstrapVersion 4) ' nav-item'}}">
        <a class="{{if (eq listView.value this.selectedValue) 'active'}}{{if (eq bootstrapVersion 4) ' nav-link'}}" role="tab" {{action 'selectionChanged' listView.value}}>{{listView.label}}</a>
      </li>
    {{/each}}
  </ul>
{{/if}}