<div class="col-sm-6">

</div>
<div class="col-sm-6 text-right controls">
  <ul>
    <li class="infos">
      {{#if isBusy}}
        {{mist-spinner size="10px" tagName="span"}}
      {{else}}
        {{firstRow}} - {{lastRow}} of {{totalCount}}
      {{/if}}
    </li>
    <li>
      Rows: {{input-select class="plain-select" selectOptions=rowSelectOptions value=rowsValue valueChanged=(action 'rowsSelected')}}
    </li>
    <li>
      <button class="btn btn-default btn-icon waves-effect waves-circle" {{action "prevPage"}}><i class="zmdi zmdi-chevron-left"></i></button>
      {{input-select class="plain-select" selectOptions=pageSelectOptions value=currentPage valueChanged=(action 'pageSelected')}}
      <button class="btn btn-default btn-icon waves-effect waves-circle" {{action "nextPage"}}><i class="zmdi zmdi-chevron-right"></i></button>
    </li>
  </ul>
</div>
