{{yield (
  hash
    header=(component "ember-wormhole" to=this.modalHeaderId)
    body=(component "ember-wormhole" to=this.modalBodyId)
    footer=(component "ember-wormhole" to=this.modalFooterId)
    trigger=(component "ember-wormhole" to=this.modalTriggerId)
    close=this.closeModal
    show=this.showModal
    status=this.status
  )
}}

<div id={{this.modalTriggerId}} class="modal-trigger"></div>

<EmberWormhole @to="ember-mist-modal-wormhole">
  <div id={{this.modalId}} class="modal" tabindex="-1" role="dialog" ...attributes {{will-destroy (action this.elementWillBeRemovedFromDOM)}}>
    <div class="modal-dialog {{@dialogClass}}">
      <div class="modal-content">
        <div id={{this.modalHeaderId}} class="modal-header {{@modalHeaderClass}}"></div>
        <div id={{this.modalBodyId}} class="modal-body {{@modalBodyClass}}"></div>
        <div id={{this.modalFooterId}} class="modal-footer {{@modalFooterClass}}"></div>
      </div>
    </div>
  </div>
</EmberWormhole>