{{#if setInitialValue.last}}
  <span class="output text">
    {{#if lookupValue}}
      <span class="value">
        {{#if (or inline (not hasRoute))}}
          {{lookupValue.name}}
        {{else}}
          <a href={{href-to route lookupValue}}>{{lookupValue.name}}</a>
        {{/if}}
      </span>
    {{else}}
      <span class="value empty"></span>
    {{/if}}
  </span>
{{/if}}
