<span class="output belongsto">
  {{#if value}}
    <span class="value">
      {{#if (or inline (not value.hasViewRoute))}}
        {{value.name}}
      {{else}}
        <a href={{href-to route value}}>
          {{value.name}}
        </a>
      {{/if}}
    </span>
  {{else}}
    <span class="value empty"></span>
  {{/if}}
</span>