{{#if this.loadSelectOptions.isIdle}}
  {{!-- If selectOptions are available they come from the attribute, and must be used instead --}}
  {{#if (eq this.widgetName 'country-select')}}
    <OutputSelectCountry
      @value={{this.value}}
      @prefix={{@prefix}}
      @suffix={{@suffix}}
      @class={{@outputClass}}
      @options={{this.outputOptions}} />
  {{else}}
    <OutputSelect
      @value={{this.value}}
      @selectOptions={{this.selectOptions}}
      @prefix={{@prefix}}
      @suffix={{@suffix}}
      @class={{@outputClass}}
      @options={{this.outputOptions}} />
  {{/if}}
{{else}}
  <span class="output loader">
    <Loading />
  </span>
{{/if}}