{{#mist-card-header title=title class=(if searchToggled 'search-toggled ch-alt' 'ch-alt') showSpinner=fetchRecords.isRunning}}
  {{#mist-menu class="actions"}}
    {{#mist-menu-item action=(action "search") className="waves-circle"}}<i class="zmdi zmdi-search"></i>{{/mist-menu-item}}
    {{#mist-menu-dropdown-item}}
      {{#mist-menu-item action=(action "refresh")}}<i class="zmdi zmdi-refresh zmdi-hc-lg"></i> Refresh{{/mist-menu-item}}
    {{/mist-menu-dropdown-item}}
  {{/mist-menu}}

  <div class="h-search-wrap">
    <div class="hsw-inner">
      <i class="hsw-close zmdi zmdi-close" {{action "toggleSearch"}}></i>
      <form {{action "search" on="submit"}}>
        {{input-search value=queryParams.search placeholder="Search..." valueChanged=(action 'searchValueChanged')}}
      </form>
    </div>
  </div>

  <div id={{concat guid '-new'}}></div>
{{/mist-card-header}}

<div id={{concat guid '-map'}}></div>
{{yield (hash map=(component 'ember-wormhole' to=(concat guid '-map')) new=(component 'ember-wormhole' to=(concat guid '-new')) models=mapModels)}}

{{#light-table table height=tableHeight class="table-responsive" tableClassNames=(concat "table table-hover" (if fetchRecords.isRunning ' is-busy')) as |t|}}
  {{#if displayHead}}
    {{t.head fixed=fixed onColumnClick=(action 'onColumnClick') iconAscending='zmdi zmdi-chevron-down' iconDescending='zmdi zmdi-chevron-up'}}
  {{/if}}

  {{#t.body onRowClick=(action 'onRowClick') onRowMouseEnter=(action 'onRowMouseEnter') onRowMouseLeave=(action 'onRowMouseLeave') as |body|}}
    {{#if table.isEmpty}}
      {{#body.no-data}}
        No data found
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}
{{/light-table}}

<div class="table-footer">
  {{mist-model-table-controls toggleDisplaySelected=(action 'toggleDisplaySelected') amountSelected=amountSelected isBusy=fetchRecords.isRunning currentPage=queryParams.page lastPage=lastPage rows=queryParams.limit firstRow=resultRowFirst lastRow=resultRowLast totalCount=resultTotalCount nextPage=(action 'nextPage') prevPage=(action 'prevPage') pageSelected=(action 'pageSelected') rowsSelected=(action 'limitChanged')}}
</div>
