<span class="input file-drupal">
  {{#if (and value.id value.url)}}
    {{#if value.url}}
      <a href={{value.url}} target="_blank">
        <IconDownload /> {{value.filename}}
      </a>
    {{else}}
      {{value.filename}}
    {{/if}}

    {{#mist-button class="btn-xs btn-default remove" click=(action 'deleteFile')}}Remove{{/mist-button}}
  {{else}}
    {{#if uploadFile.isRunning}}
      <button class="btn btn-xs btn-default waves-effect uploading" disabled="disabled">
        {{t 'ember-mist-components.labels.uploading'}} {{this.activeFile}}/{{this.totalFiles}} {{mist-spinner size="10px" tagName="span" class="m-l-10"}}
      </button>
    {{else}}
      <InputFile
        @multiple={{this.multiple}}
        @inputId={{this.inputId}}
        @valueChanged={{action 'filesSelected'}} />
    {{/if}}
  {{/if}}
</span>