{{#if value.id}}
  {{#if value.url}}
    <a href={{value.url}} target="_blank"><i class="zmdi zmdi-cloud-download"></i> {{value.filename}}</a>
  {{else}}
    <i class="zmdi zmdi-cloud-download"></i> {{value.filename}}
  {{/if}}

  {{#mist-button class="btn-xs btn-default m-l-5" click=(action 'deleteFile')}}Remove{{/mist-button}}
{{else}}
  {{#if uploadFile.isRunning}}
    <button class="btn btn-default waves-effect" disabled="disabled">
      Uploading {{this.activeFile}}/{{this.totalFiles}} {{mist-spinner size="10px" tagName="span" class="m-l-10"}}
    </button>
  {{else}}
    <InputFile
      @multiple={{this.multiple}}
      @inputId={{this.inputId}}
      @valueChanged={{action 'filesSelected'}} />
  {{/if}}
{{/if}}
