{{#if value.id}}
  {{#if value.url}}
    <a href={{value.url}} target="_blank"><i class="zmdi zmdi-cloud-download"></i> {{value.filename}}</a>
  {{else}}
    <i class="zmdi zmdi-cloud-download"></i> {{value.filename}}
  {{/if}}

  {{#if deleteFile.isIdle}}
    {{#mist-button class="btn-xs btn-default m-l-5" click=(perform deleteFile)}}Remove{{/mist-button}}
  {{else}}
    {{mist-spinner size="10px" tagName="span" class="m-l-10"}}
  {{/if}}
{{else}}
  {{#if uploadFile.isRunning}}
    <button class="btn btn-default waves-effect" disabled="disabled">
      Uploading {{activeFile}}/{{totalFiles}} {{mist-spinner size="10px" tagName="span" class="m-l-10"}}
    </button>
  {{else}}
    {{input-file valueChanged=(action 'valueChanged') multiple=multiple inputId=inputId}}
  {{/if}}
{{/if}}
