<span class="input file-drupal{{if @multiple ' file-drupal__multiple' ' file-drupal__single'}}">
  {{#if this.computedValue}}
    {{#if @multiple}}
      <ul class="file-drupal__list">
        {{#each this.computedValue as |file|}}
          <li>
            <OutputImageLink @value={{file}} />
            <button class="btn btn-xs btn-default remove" {{on "click" (fn this.deleteFile file)}}>{{t 'ember-mist-components.labels.remove'}}</button>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <ul class="file-drupal__list">
        <li>
          <OutputImageLink @value={{this.computedValue}} />
          <button class="btn btn-xs btn-default remove" {{on "click" (fn this.deleteFile computedValue)}}>{{t 'ember-mist-components.labels.remove'}}</button>
        </li>
      </ul>
    {{/if}}
  {{/if}}
  
  {{#if this.uploadFile.isRunning}}
    <span class="file-drupal__uploading">
      {{t 'ember-mist-components.labels.uploading'}} <Loading /> <span class="file-drupal__progress">({{this.activeFilePositionInQueue}}/{{this.totalFiles}})</span>
    </span>
  {{/if}}
  
  {{#if this.uploadFile.isIdle}}
    {{#if (or @multiple (not this.computedValue))}}
      <InputFile
        @multiple={{this.multiple}}
        @inputId={{@inputId}}
        @valueChanged={{action this.fileSelected}} />
    {{/if}}
  {{/if}}
</span>