<span class="input file-drupal">
  {{#if (and this.computedValue.id this.computedValue.url)}}
    <OutputImageLink @value={{this.computedValue}} />
    <button class="btn btn-xs btn-default remove waves-effect" onclick={{action 'deleteFile'}}>{{t 'ember-mist-components.labels.remove'}}</button>
  {{else}}
    {{#if this.uploadFile.isRunning}}
      <button class="btn btn-xs btn-default waves-effect uploading" disabled="disabled">
        {{t 'ember-mist-components.labels.uploading'}} {{this.activeFile}}/{{this.totalFiles}} <span class="m-l-10"><Loading @size="10px" /></span>
      </button>
    {{else}}
      <InputFile
        @multiple={{this.multiple}}
        @inputId={{this.inputId}}
        @valueChanged={{action 'filesSelected'}} />
    {{/if}}
  {{/if}}
</span>