<div class="banner-image">
  {{#if editmode}}
    {{#input-field-image model=model field=field as |showModal|}}
      {{#if value.url}}
        {{output-image value=value styleClass="cursor-pointer" style="mist_banner_image" imageClicked=(action showModal)}}
      {{else}}
        <div class="field-wrapper" {{action showModal}}>
          <span class="zmdi zmdi-hc-2x zmdi-camera"></span>
        </div>
      {{/if}}
    {{/input-field-image}}
  {{else}}
    {{output-field-image model=model field=field options=(hash style='mist_banner_image')}}
  {{/if}}
</div>