{{#if editmode}}
  {{#input-field-image model=model field=field as |showModal|}}
    <div class="banner-image">
      {{#if value.url}}
        <img src={{value.url}} alt={{value.alt}} title={{value.title}} {{action showModal}} />
      {{else}}
        <div class="field-wrapper" {{action showModal}}>
          <span class="zmdi zmdi-hc-2x zmdi-camera"></span>
        </div>
      {{/if}}
    </div>
  {{/input-field-image}}
{{/if}}
