<span class={{this.computedClass}}>
  {{#if (and @value @prefix)}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if @value 'value' 'value empty'}} ...attributes>
    {{#if (not @value)}}
     {{!-- Show nothing --}}
    {{else if (or @inline (not @value.hasViewRoute))}}
      {{#if hasBlock}}
        {{yield @value}}
      {{else}}
        {{@value.name}}
      {{/if}}
    {{else}}
      <a href={{href-to @value.viewRouteName @value}}>
        {{#if hasBlock}}
          {{yield @value}}
        {{else}}
          {{@value.name}}
        {{/if}}
      </a>
    {{/if}}
  </span>
  {{#if (and @value @suffix)}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>