<PowerSelect
  @triggerClass="form-control"
  @triggerId={{@inputId}}
  @placeholder={{@placeholder}}
  @search={{perform this.searchTask}}
  @selected={{@value}}
  @onChange={{this.formValueChanged}}
  @onFocus={{this.handleFocus}}
  @searchEnabled={{true}}
  @disabled={{@disabled}}
  @allowClear={{not this.shouldHideClear}} as |model|>
  <span class="name">
    {{model.name}}
  </span>
  <span class="id">
    ({{model.id}})
  </span>
</PowerSelect>