<ModelTable
  @title={{@title}}
  @modelName={{this.hasManyModelName}}
  @baseQuery={{this.baseQuery}}
  @class={{@class}}
  @modelListView={{@modelListView}}
  @listViewGrouping={{@listViewGrouping}} as |Table| >
  {{#if (not this.hideNew)}}
    <Table.new>
      <button class="btn bgm-pink btn-float waves-effect" onclick={{action 'newFromRelated'}}>
        <IconPlus />
      </button>
    </Table.new>
  {{/if}}
</ModelTable>