<ModelTable
  @title={{@title}}
  @modelName={{this.hasManyModelName}}
  @baseQuery={{this.baseQuery}}
  @class={{concat "model-table__related " @class}}
  @modelListView={{@modelListView}}
  @listViewGrouping={{@listViewGrouping}} as |Table| >
  {{#if (not this.hideNew)}}
    <Table.new>
      <button class="btn btn-primary model-table__new__button" {{on "click" this.newFromRelated}}>
        <IconPlus />
      </button>
    </Table.new>
  {{/if}}
</ModelTable>