<span class={{this.computedClass}}>
  {{#if prefix}}
    <span class="input-group-addon prefix">{{@prefix}}</span>
  {{/if}}

  <label class="form-control browse">
    <IconPaperclip /> {{t 'ember-mist-components.labels.browse'}}
    <div class="hidden">
      <FileField
        @id={{this.inputId}}
        @multiple={{this.multiple}}
        @change={{action 'filesSelected'}} />
    </div>
  </label>

  {{#if suffix}}
    <span class="input-group-addon suffix">{{@suffix}}</span>
  {{/if}}
</span>