<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="input-group-addon prefix">{{@prefix}}</span>
  {{/if}}

  <FileUpload 
    @name={{this.inputIdComputed}}
    @class="form-control browse"
    @multiple={{@multiple}}
    @onfileadd={{action this.filesSelected}} as |queue|>
    {{#if queue.files.length}}
      {{t 'ember-mist-components.labels.uploading'}} <Loading />
    {{else}}  
      {{t 'ember-mist-components.labels.browse'}} <IconPaperclip />
    {{/if}}
  </FileUpload>

  {{#if @suffix}}
    <span class="input-group-addon suffix">{{@suffix}}</span>
  {{/if}}
</span>