<span class={{this.computedClass}}>
  {{#if (and this.isSelect setSelectOptions.isRunning)}}
    <Loading />
  {{else}}
    {{#if this.value}}
      <div class="input-multi-field" {{sortable-group onChange=(action this.reorderedValues)}}>
        {{#each this.value as |model index|}}
          <div class="input-multi-field__item{{if readOnly ' read-only' ' read-write'}}" {{sortable-item model=item}}>
            <div class="sort-handle" {{sortable-handle}} sort={{index}}><IconDraggable /></div>
            {{#if this.isSelect}}
                <InputSelect
                  @selectOptions={{this.selectOptions}}
                  @value={{model.id}}
                  @required={{this.isRequired}}
                  @valueChanged={{action this.doChangeValue index}}
                  @class={{this.inputClass}}
                  @inputId={{this.caluclatedInputId}} />
              {{else}}
                <InputLookup
                  @baseQuery={{this.baseQuery}}
                  @value={{model}}
                  @modelName={{model-class-name model}}
                  @valueChanged={{action this.doChangeValue index}}
                  @placeholder={{@placeholder}}
                  @class={{this.inputClass}}
                  @inputId={{this.caluclatedInputId}} />
              {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}
    <div class="input-multi-field__item">
      {{#if this.isSelect}}
        <InputSelect
          @selectOptions={{this.selectOptions}}
          @required={{this.isRequired}}
          @valueChanged={{action this.doChangeValue index}}
          @class={{this.inputClass}}
          @inputId={{this.caluclatedInputId}} />
      {{else}}
        <InputLookup
          @baseQuery={{this.baseQuery}}
          @modelName={{this.relationshipModelName}}
          @valueChanged={{action this.doChangeValue index}}
          @placeholder={{@placeholder}}
          @class={{this.inputClass}}
          @inputId={{this.caluclatedInputId}} />
      {{/if}}
    </div>
  {{/if}}
</span>