{{#if hasAction}}
  {{#if button}}
    {{#mist-button class=className}}{{yield}}{{/mist-button}}
  {{else}}
    <a class="waves-effect">
      {{yield}}
    </a>
  {{/if}}
{{else}}
  <a href="{{href-to link}}" class="waves-effect">
    {{yield}}
  </a>
{{/if}}
