{{#if hasAction}}
  {{#if button}}
    {{#mist-button class=className}}{{yield}}{{/mist-button}}
  {{else}}
    <a class={{if className (concat className ' waves-effect') 'waves-effect'}}>
      {{yield}}
    </a>
  {{/if}}
{{else}}
  {{#if linkTo}}
    {{#link-to link}}{{yield}}{{/link-to}}
  {{else}}
    <a href="{{href-to link}}" class={{if className (concat className ' waves-effect') 'waves-effect'}}>
      {{yield}}
    </a>
  {{/if}}
{{/if}}
