<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose an image</h4>
      </div>
      <div class="modal-body text-center">
        {{#if modalVisible}}
          {{input-file-drupal value=value field=field modelName=modelName options=options valueChanged=(action 'valueChanged')}}

          {{#if value.id}}
            {{output-image value=value styleClass="image-preview"}}
          {{/if}}
        {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" {{action 'closeModal'}}>Close</button>
      </div>
    </div>
  </div>
</div>


{{#if hasBlock}}
  {{yield (action 'showModal')}}
{{else}}
  {{#mist-button click=(action 'showModal')}}Upload Image{{/mist-button}}
{{/if}}
