<Modal @dialogClass="" @closeOnRouteChange={{true}} as |Element|>
  <Element.trigger>
    <div class="input-field-image-controls">
      {{#if hasBlock}}
        {{yield Element.show this.value}}
      {{else}}
        {{#if this.value.id}}
          <OutputImageLink
            @value={{this.value}} />

          <button class="btn btn-xs" {{on "click" Element.show}}>Edit Image</button>
        {{else}}
          <button class="btn btn-xs" {{on "click" Element.show}}>Upload Image</button>
        {{/if}}
      {{/if}}
    </div>
  </Element.trigger>
  <Element.header>
    Choose an image
  </Element.header>
  <Element.body>
    <InputFileDrupal
      @value={{this.value}}
      @field={{@field}}
      @multiple={{false}}
      @modelName={{this.modelName}}
      @options={{this.modifiedOptions}}
      @valueChanged={{action (mut this.value)}} />
    {{#if this.value.id}}
      <OutputImage
        @value={{this.value}}
        @class="image-preview" />
    {{/if}}
  </Element.body>
  <Element.footer>
    <button type="button" class="btn btn-white" {{on "click" Element.close}}>{{t "label.close"}}</button>
  </Element.footer>
</Modal>