<div id={{this.modalId}} class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose an image</h4>
      </div>
      <div class="modal-body text-center">
        {{#if modalVisible}}
          <InputFileDrupal
            @value={{this.value}}
            @field={{@field}}
            @modelName={{this.modelName}}
            @options={{this.modifiedOptions}}
            @valueChanged={{action (mut this.value)}} />
          {{#if value.id}}
            <OutputImage
              @value={{this.value}}
              @class='image-preview' />
          {{/if}}
        {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" {{action 'closeModal'}}>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="input-field-image-controls">
  {{#if hasBlock}}
    {{yield (action 'showModal') value}}
  {{else}}
    {{#if value.id}}
      <OutputImageLink
        @value={{this.value}} />

      {{#mist-button class="btn-xs" click=(action 'showModal')}}Edit Image{{/mist-button}}
    {{else}}
      {{#mist-button class="btn-xs" click=(action 'showModal')}}Upload Image{{/mist-button}}
    {{/if}}
  {{/if}}
</div>