{{#if @grouping}}
  <button class="btn btn-primary" {{action 'showModal'}}>{{yield}}</button>

  <div id={{this.modalId}} class="modal fade text-left" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Choose a template</h4>
        </div>
        <div class="modal-body field-padding">
          {{#if modalVisible}}
            <label for="print-template">Templates</label>
            {{#if fetchTemplates.isIdle}}
              {{#if (gt selectOptions.length 0)}}
                <InputSelect
                  @selectOptions={{this.selectOptions}}
                  @value={{this.value}}
                  @required={{true}}
                  @valueChanged={{action 'templateValueChanged'}} />
              {{else}}
                <span>No templates found</span>
              {{/if}}
            {{else}}
              <Loading />
            {{/if}}
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" {{action 'closeModal'}}>Close</button>
          <button type="button" class="btn btn-primary" onclick={{perform this.generatePdf}}>
            {{#if this.generatePdf.isIdle}}
              Generate
            {{else}}
              Generating <Loading />
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  </div>
{{/if}}