{{#if @column.transitionToModel}}
  <a
    class="model-table__cell__field-wrapper"
    href={{href-to (concat @column.modelName ".view") @row.content.id}}
  >
    <OutputField
      @model={{@row.content}}
      @field={{@column.valuePath}}
      @inline={{true}}
      @options={{
        hash
        outputOptions=(hash
          positiveINFValue=99999999.99 negativeINFValue=-99999999.99
        )
      }}
    />
  </a>
{{else}}
  <div class="model-table__cell__field-wrapper">
    <OutputField
      @model={{@row.content}}
      @field={{@column.valuePath}}
      @inline={{true}}
      @options={{
        hash
        outputOptions=(hash
          positiveINFValue=99999999.99 negativeINFValue=-99999999.99
        )
      }}
    />
  </div>
{{/if}}