<div class="button-bar">
  <a {{action 'addNewValue'}} class="btn btn-default btn-xs waves-effect">
    Add
  </a>
</div>

{{#sortable-group model=this.items tagName="div" onChange=(action 'reorderLines') as |group|}}
  {{#each group.model as |item index|}}
    {{#group.item model=item as |sortableItem|}}
      {{#sortableItem.handle}}
        <div class="b-0 sort-handle" sort={{index}}>&varr;</div>
      {{/sortableItem.handle}}

      <InputText @value={{item}} @valueChanged={{action 'setArrayValue' index}} />
      <a {{action 'removeIndexFromValue' index}} class="btn btn-default icon-button">
        <IconRemove />
      </a>
    {{/group.item}}
  {{/each}}
{{/sortable-group}}