{{#if this.loadSelectOptions.isIdle}}
  {{#if (eq this.widgetName "button-group")}}
    <InputButtonGroup
      @selectOptions={{this.selectOptionsComputed}}
      @value={{this.value}}
      @valueChanged={{this.setSelectValue}}
      @class={{@inputClass}}
      @inputId={{@inputId}}
      @noneLabel={{this.noneLabel}}
      @required={{this.isRequired}}
      @options={{this.inputOptions}}
    />
  {{else if (eq this.widgetName "radio-buttons")}}
    <InputRadioButtonList
      @selectOptions={{this.selectOptionsComputed}}
      @value={{this.value}}
      @valueChanged={{this.setSelectValue}}
      @class={{@inputClass}}
      @inputId={{@inputId}}
      @noneLabel={{this.noneLabel}}
      @required={{this.isRequired}}
      @options={{this.inputOptions}}
    />
  {{else if (eq this.widgetName "country-select")}}
    <InputSelectCountry
      @value={{this.value}}
      @valueChanged={{this.setSelectValue}}
      @class={{@inputClass}}
      @inputId={{@inputId}}
      @noneLabel={{this.noneLabel}}
      @required={{this.isRequired}}
      @options={{this.inputOptions}}
    />
  {{else}}
    {{on-key "alt+r" this.toggleButton event="keydown"}}
    <InputSelect
      @selectOptions={{this.selectOptionsComputed}}
      @value={{this.value}}
      @valueChanged={{this.setSelectValue}}
      @class={{@inputClass}}
      @inputId={{@inputId}}
      @noneLabel={{this.noneLabel}}
      @required={{this.isRequired}}
      @options={{this.inputOptions}}
    />
    {{#if this.showButton}}
      <button class="btn-primary" onclick={{this.reloadSelectOptions}}>{{#if
          this.reloadSelectOptions.isIdle
        }}<Loading />{{else}}<IconRefresh />{{/if}}</button>
    {{/if}}
  {{/if}}
{{else}}
  <span class="input loader">
    <Loading />
  </span>
{{/if}}