{{#if this.loadSelectOptions.isIdle}}
  <InputMultiSelect
    @selectOptions={{this.selectOptionsComputed}}
    @value={{this.computedValue}}
    @valueChanged={{this.setNewValue}}
    @class={{@inputClass}}
    @inputId={{this.inputId}}
    @noneLabel={{this.noneLabel}}
    @required={{this.isRequired}}
    @options={{this.inputOptions}} />
{{else}}
  <span class="input loader">
    <Loading />
  </span>
{{/if}}