<div class="order__edit__wrapper">  
  {{#if @model.orders}}
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Field</th>
          <th>Direction</th>
          <th></th>
        </tr>
      </thead>
      <tbody class={{if @isOdd "is-odd" "is-even"}} {{sortable-group groupName="orders" onChange=(action this.reorderOrders)}}>
        {{#each (filter-by "isDeleted" false (sort-by "sort" @model.orders)) as |order index|}}
          <tr class="order__edit__line" {{sortable-item groupName="orders" model=order}}>
            <td><div class="sort-handle" {{sortable-handle}} sort={{index}}><IconDraggable /> {{add index 1}}</div></td>
            <td>
              <InputField 
                @model={{order}} 
                @field="field" 
                @inline={{true}} 
                @placeholder="Field" 
                @options={{hash baseQuery=this.fieldQuery nameField="label"}} />
            </td>
            <td>
              <InputField 
                @model={{order}} 
                @field="direction" 
                @inline={{true}} />
            </td>
            <td>
              <button class="btn btn-icon">
                <IconRemove />
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  <div class="order__edit__button-bar">
    <button role="button" {{on "click" this.addNewOrder}} class="btn btn-pink">
      Add <IconPlus />
    </button>
  </div>
</div>