<span class={{this.computedClass}}>
  {{#if (and @value @prefix)}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if this.html 'value' 'value empty'}}>
    {{this.html}}
  </span>
  {{#if (and @value @suffix)}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>