<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if this.html 'value' 'value empty'}}>
    {{this.html}}
  </span>
  {{#if @suffix}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>