{{#if this.loadSelectOptions.isIdle}}
  <OutputMultiSelect
    @value={{this.value}}
    @selectOptions={{this.selectOptions}}
    @prefix={{@prefix}}
    @suffix={{@suffix}}
    @class={{@outputClass}}
    @options={{this.outputOptions}}
  />
{{else}}
  <span class="output loader">
    <Loading />
  </span>
{{/if}}