{{#if this.value}}
  <div id={{this.carouselName}} class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{#each this.value as |imageValue index|}}
        <li data-target={{concat '#' this.carouselName}} data-slide-to={{index}} class={{if (eq index 0) " active" }}></li>
      {{/each}}
    </ol>

    <div class="carousel-inner" role="listbox">
      {{#each this.value as |imageValue index|}}
        <div class="item{{if (eq index 0) " active" }}">
          <OutputImage
            @value={{imageValue}}
            @style={{this.style}}
            @class={{@outputClass}}
            @imageClicked={{action this.didClickImage imageValue}}  />
        </div>
      {{/each}}
    </div>

    <a class="carousel-control-prev" href={{concat '#' this.carouselName}} role="button" data-slide="prev">
      <IconChevronLeft />
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href={{concat '#' this.carouselName}} role="button" data-slide="next">
      <IconChevronRight />
      <span class="sr-only">Next</span>
    </a>
  </div>
{{/if}}