{{#if this.initialize.isRunning}}
  <span class="input loader">
    <Loading />
  </span>
{{else}}
  <span
    class={{this.computedClass}}
    data-country={{this.initialCountry}}
    data-number={{@value}}
  >
    {{#if @prefix}}
      <span class="input-group-text prefix">
        {{@prefix}}
      </span>
    {{/if}}
    <Input
      id={{@inputId}}
      @type="tel"
      @value={{this.value}}
      class="form-control"
      disabled={{@disabled}}
      placeholder={{@placeholder}}
      ...attributes
      {{on "input" this.valueChanged}}
      {{did-insert this.elementInsertedInDOM}}
      {{will-destroy this.elementWillBeRemovedFromDOM}}
    />
    {{#if @suffix}}
      <span class="input-group-text suffix">
        {{@suffix}}
      </span>
    {{/if}}
  </span>
{{/if}}