{{#power-calendar class=(concat 'modeltype-' @modelType) center=this.center onCenterChange=(action 'setCenter' value='date') as |calendar|}}
  <nav class="ember-power-calendar-nav">
    {{#if (not isCurrentMonth)}}
      <button type="button" class="btn bgm-pink waves-effect today-button" onclick={{action 'resetToToday'}}>Today</button>
    {{/if}}

    {{#if listViewGrouping}}
      <ListViewSelect @modelName={{@modelType}} @grouping={{@listViewGrouping}} @valueChanged={{this.listViewChanged}} />
    {{/if}}

    {{!-- <button type="button" class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter -12 'month'}}>«</button> --}}
    <div class="ember-power-calendar-nav-title">
      <select onchange={{action 'changeCenter' 'month' calendar}}>
        {{#each this.months as |month index|}}
          <option value={{index}} selected={{eq index this.currentMonth}}>{{month}}</option>
        {{/each}}
      </select>

      <select onchange={{action 'changeCenter' 'year' calendar}}>
        {{#each this.years as |year|}}
          <option value={{year}} selected={{eq year this.currentYear}}>{{year}}</option>
        {{/each}}
      </select>
    </div>

    <button type="button" class="btn btn-warning btn-icon waves-effect waves-circle waves-float" onclick={{action calendar.actions.moveCenter -1 'month'}}>
      <i class="zmdi zmdi-arrow-back"></i>
    </button>
    <button type="button" class="btn btn-warning btn-icon waves-effect waves-circle waves-float" onclick={{action calendar.actions.moveCenter 1 'month'}}>
      <i class="zmdi zmdi-arrow-forward"></i>
    </button>

    {{#mist-menu id=(concat guid '-actions') class="actions"}}
      {{#mist-menu-dropdown-item className="waves-circle"}}
        {{#mist-menu-item action=(perform loadModels)}}<i class="zmdi zmdi-refresh zmdi-hc-lg"></i> Refresh{{/mist-menu-item}}
      {{/mist-menu-dropdown-item}}
    {{/mist-menu}}
    {{!-- <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter 12 'month'}}>»</button> --}}
  </nav>
  <div class="day-grid">
    {{#each this.weekdays as |weekday|}}
      <div class="weekday">{{weekday}}</div>
    {{/each}}

    {{#each this.days as |day|}}
      <div class="calendar-day {{if day.isCurrentMonth 'calendar-day__current-month' 'calendar-day__other-month'}}{{if day.isToday ' calendar-day__today'}}{{if day.isWeekend ' calendar-day__weekend'}}">
        <span class="number">{{day.number}}</span>
        <div class="calendar-day__content">
          {{#let (get this.modelsPerDate (moment-format day.date 'YYYY-MM-DD')) as |models|}}
            {{#if models}}
              {{#each models as |model|}}
                <a href={{href-to (concat @modelType '.view') model.id}} class="calendar-day__item {{if @extraClassesField (join ' ' (get model @extraClassesField))}}">
                  {{model.name}}
                </a>
              {{/each}}
            {{/if}}
          {{/let}}
        </div>
      </div>
    {{/each}}
  </div>
  {{#if loadModels.isRunning}}
    <div class="loader">
      {{mist-spinner}}
    </div>
  {{/if}}
{{/power-calendar}}