{{#if value.id}}
  <a href={{value.url}}><i class="zmdi zmdi-cloud-download"></i> {{value.filename}}</a>

  {{#if deleteFile.isIdle}}
    {{#mist-button class="btn-xs btn-default m-l-5" click=(perform deleteFile)}}Remove{{/mist-button}}
  {{/if}}

  {{#if deleteFile.isRunning}}
    {{mist-spinner size="10px" tagName="span" class="m-l-10"}}
  {{/if}}
{{else}}
  {{input-file valueChanged='valueChanged'}}
  {{#if uploadFile.isRunning}}
    {{mist-spinner size="10px" tagName="span" class="m-l-10"}}
  {{/if}}
{{/if}}
