<span class={{this.computedClass}}>
  {{#if (and @value @prefix)}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  {{#if value.url}}
    <a class="value" href={{image-url value style}} target="_blank">
      {{value.filename}} <IconNewWindow />
    </a>
  {{else}}
    <span class="'value empty"></span>
  {{/if}}
  {{#if (and @value @suffix)}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>