<div
  class="input-address"
  {{did-update (perform this.setAddressFormat) this.value}}
>
  <div class="row">
    <div class="col-12 country-select">
      <InputSelectCountry
        @value={{this.value.countryCode}}
        @valueChanged={{this.countryCodeChanged}}
        @inputId={{this.inputId}}
        @required={{this.isRequired}}
      />
    </div>
  </div>

  {{#if (and this.value this.value.format)}}
    {{#each this.displayRows as |row|}}
      <div class="row g-0">
        {{#each row.columns as |column|}}
          <div class={{row.columnClassName}}>
            {{component
              (concat "input-" column.component)
              value=(get this.value column.field)
              valueChanged=(fn this.addressFieldChanged column.field)
              placeholder=column.label
              none=column.none
              selectOptions=column.selectOptions
              disabled=column.disabled
            }}
          </div>
        {{/each}}
      </div>
    {{/each}}
  {{/if}}

  {{#if this.addressLoading.isRunning}}
    <div class="address-spinner">
      <Loading />
    </div>
  {{/if}}
</div>