{{#if addressFormat}}
  {{#each displayRows as |row|}}
    <div class="row">
      {{#each row.columns as |column|}}
        <div class={{row.columnClassName}}>
          {{component column.component value=(get address column.field) valueChanged=(action 'addressFieldChanged' column.field) placeholder=column.label none=column.none selectOptions=column.selectOptions disabled=column.disabled}}
        </div>
      {{/each}}
    </div>
  {{/each}}
{{/if}}

<div class="row">
  <div class="{{if applyXS 'col-xs-12' 'col-12'}} country-select">
    {{#if countrySelectOptions}}
      {{input-select value=address.countryCode selectOptions=countrySelectOptions valueChanged=(action 'countryCodeChanged') none="-- Country (none) --"}}
    {{/if}}
  </div>
</div>


{{#if addressLoading.isRunning}}
  <div class="address-spinner">
    {{mist-spinner size="20px" class="text-center"}}
  </div>
{{/if}}