<span class={{this.computedClass}}>
  {{#if (and @value @prefix)}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  {{#if (and @value @value.url)}}
    <img src={{image-url @value @style}} alt={{@value.alt}} title={{@value.title}} class="value {{@class}}" {{on "click" (fn this.didClickImage @value)}} ...attributes/>
  {{else}}
    <span class="value empty" ...attributes></span>
  {{/if}}
  {{#if (and @value @suffix)}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>