{{#if value.url}}
  <img src={{image-url value style}} alt={{value.alt}} title={{value.title}} class={{styleClass}} {{action 'imageClicked'}}/>
{{else}}
  <div class="output image">
    <span class='value empty'></span>
  </div>
{{/if}}