<li
  id={{this.dropdownElementId}}
  class="action-menu__item action-menu__dropdown-item"
  ...attributes
  {{did-insert this.elementInsertedInDOM}}
  {{will-destroy this.elementWillBeRemovedFromDOM}}
>
  <button
    id={{this.ariaId}}
    class="btn btn-link action-menu__link action-menu__dropdown-trigger"
    data-toggle="dropdown"
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{#if @iconComponent}}
      {{@iconComponent}}
    {{else}}
      <IconButtonMore />
    {{/if}}
  </button>
  <ul
    class="dropdown-menu dropdown-menu-right action-menu__dropdown-menu"
    aria-labelledby={{this.ariaId}}
  >
    {{yield}}
  </ul>
</li>