<div class="model-table {{@class}}">
  {{#if (and @listViewGrouping this.listViewsAsTabs (eq this.tabPosition 'top'))}}
    <ListViewTabs 
      @modelName={{this.activeModelName}} 
      @grouping={{@listViewGrouping}} 
      @valueChanged={{this.listViewChanged}} />
  {{/if}}

  <div class={{concat 'model-table__header' (if this.searchVisible ' search-toggled')}}>
    <div class="model-table__title__wrapper">
      <h2 class="model-table__title">{{this.titleComputed}}</h2>
      <span class="model-table__title__loading">
        {{#if this.fetchRecords.isRunning}}
          <Loading />
        {{/if}}
      </span>

      {{#if (and @listViewGrouping (not this.listViewsAsTabs))}}
        <ListViewSelect 
          @modelName={{this.activeModelName}} 
          @grouping={{@listViewGrouping}} 
          @valueChanged={{this.listViewChanged}} />
      {{/if}}
    </div>

    <div class="model-table__search__wrapper">
      <div class="model-table__search__wrapper__inner">
        {{#if (not this.searchFixed)}}
          <button class="btn btn-icon model-table__search__close" {{on "click" this.toggleSearch}}>
            <IconClose />
          </button>
        {{/if}}

        <form class="model-table__search__form" {{on "submit" this.search}}>
          <InputSearch 
            @inputId={{this.searchInputId}} 
            @value={{this.query.search}} 
            @placeholder="Search..." 
            @valueChanged={{action this.searchValueChanged}} />
        </form>
      </div>
    </div>

    <div id={{concat this.guid '-new'}}></div>

    <ul id={{concat this.guid '-actions'}} class="action-menu">
      <li>
        <a {{on "click" this.search}} role="button" class="model-table__action__search">
          <IconSearch />
        </a>
      </li>

      <MenuDropdown @class="action-menu__dropdown">
        {{#if (and @listViewGrouping this.displayListViewLinks)}}
          {{#if (and this.activeListViewKey (is-numeric this.activeListViewKey))}}
            <li>
              <a href={{href-to 'list-view.edit' this.activeListViewKey}}>
                <IconListViewEdit /> {{t 'ember-mist-components.list-view.edit'}}
              </a>
            </li>
          {{/if}}
          <li>
            <a href={{href-to 'list-view.new'}}>
              <IconListViewNew /> {{t 'ember-mist-components.list-view.new'}}
            </a>
          </li>
        {{/if}}
        <li>
          <a {{on "click" this.refresh}} role="button">
            <IconRefresh /> {{t 'ember-mist-components.labels.refresh'}}
          </a>
        </li>
      </MenuDropdown>
    </ul>
  </div>

  {{#if (and @listViewGrouping this.listViewsAsTabs (eq this.tabPosition 'bottom'))}}
    <ListViewTabs 
      @modelName={{this.activeModelName}} 
      @grouping={{@listViewGrouping}} 
      @valueChanged={{this.listViewChanged}} />
  {{/if}}

  {{#if this.fetchRecords.last}}
    {{yield (hash actions=(component 'ember-wormhole' to=(concat this.guid '-actions')) new=(component 'ember-wormhole' to=(concat this.guid '-new')))}}

    {{#if this.isMultiModelNames}}
      <div class="model-type-selector">
        <InputSelect
          @class="plain-select"
          @selectOptions={{this.modelNameSelectOptions}}
          @value={{this.activeModelName}}
          @required={{true}}
          @valueChanged={{action 'activeModelNameChanged'}} />
      </div>
    {{/if}}

    <div class="table-responsive">
      <table class="table table-hover{{if this.fetchRecords.isRunning ' is-busy'}}">
        <thead class="model-table__head">
          <tr>
            {{#each this.columns as |column|}}
              <th class="model-table__column{{if column.sorted ' model-table__column__sorted'}}{{if column.ascending ' model-table__column__sorted__asc' ' model-table__column__sorted__desc'}}"
                {{on "click" (fn this.onColumnClick column)}}>
                {{column.label}}
              </th>
            {{/each}}
          </tr>
        </thead>
        <tbody class="model-table__body">
          {{#if this.fetchRecords.isRunning}}
            <tr class="model-table__row model-table__is-loading">
              <td colspan={{this.columns.length}}>
                <Loading />
              </td>
            </tr>
          {{else}}
            {{#each this.table.rows as |row|}}
              <tr class="model-table__row is-selectable" 
                {{on "click" (fn this.rowSelected row)}} 
                {{on "mouseenter" (fn this.rowMouseEnter row)}} 
                {{on "mouseleave" (fn this.rowMouseLeave row)}}>
                {{#each this.columns as |column|}}
                  <td class="model-table__cell">
                    <ModelTableCell @row={{row}} @column={{column}} />
                  </td>
                {{/each}}
              </tr>
            {{else}}
              <tr class="model-table__row model-table__no-data">
                <td colspan={{this.columns.length}}>
                  {{t 'ember-mist-components.table.no_data'}}
                </td>
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>

    <div class="table-footer">
      <ModelTableControls
        @toggleDisplaySelected={{action 'toggleDisplaySelected'}}
        @amountSelected={{this.amountSelected}}
        @isBusy={{this.fetchRecords.isRunning}}
        @currentPage={{this.query.page}}
        @lastPage={{this.lastPage}}
        @rows={{this.query.limit}}
        @firstRow={{this.resultRowFirst}}
        @lastRow={{this.resultRowLast}}
        @totalCount={{this.resultTotalCount}}
        @nextPage={{action 'nextPage'}}
        @prevPage={{action 'prevPage'}}
        @pageSelected={{action 'pageSelected'}}
        @rowsSelected={{action 'limitChanged'}} />
    </div>
  {{/if}}
</div>

