<div class="model-table" ...attributes>
  {{#if (and @listViewGrouping @listViewsAsTabs (or (eq @tabPosition 'top') (not @tabPosition)))}}
    <ListViewTabs 
      @modelName={{this.activeModelName}} 
      @grouping={{@listViewGrouping}} 
      @valueChanged={{this.listViewChanged}} />
  {{/if}}

  <div class={{concat 'model-table__header' (if this.searchVisible ' search-toggled')}}>
    <div class="model-table__title__wrapper">
      <h2 class="model-table__title">{{this.titleComputed}}</h2>
      <span class="model-table__title__loading">
        {{#if this.fetchRecords.isRunning}}
          <Loading />
        {{/if}} 
      </span>

      {{#if (and @listViewGrouping (not @listViewsAsTabs))}}
        <ListViewSelect 
          @modelName={{this.activeModelName}} 
          @grouping={{@listViewGrouping}} 
          @valueChanged={{this.listViewChanged}} />
      {{/if}}
    </div>

    <div class="model-table__search__wrapper">
      <div class="model-table__search__wrapper__inner">

        <form class="model-table__search__form" {{on "submit" this.search}}>
          <div class="form-group">
            <div class="input-container">
              <InputSearch 
                @inputId={{this.searchInputId}} 
                @value={{this.query.search}} 
                @placeholder="Search..." 
                @valueChanged={{action this.searchValueChanged}} />
              <div class="input-group-append">
                <button type="submit" class="btn model-table__search__submit" {{on "click" this.search}}>
                  <IconSearch />
                </button>
                {{#if (not @searchFixed)}}
                  <button class="btn model-table__search__close" {{on "click" this.toggleSearch}}>
                    <IconClose />
                  </button>
                {{/if}}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <ul id={{concat this.guid '-actions'}} class="model-table__actions action-menu">
      <MenuItem @itemClicked={{this.search}}>
        <IconSearch />
      </MenuItem>

      <MenuDropdown @class="action-menu__dropdown">
        {{#if (and @listViewGrouping this.displayListViewLinks)}}
          {{#if (and this.activeListViewKey (is-numeric this.activeListViewKey))}}
            <MenuItem @targetRoute={{href-to "list-view.edit" this.activeListViewKey}}>
              {{t 'ember-mist-components.list-view.edit'}} <IconListViewEdit />
            </MenuItem>
          {{/if}}
          <MenuItem @targetRoute="list-view.new">
            {{t 'ember-mist-components.list-view.new'}} <IconListViewNew />
          </MenuItem>
          <hr>
        {{/if}}
        <MenuItem @itemClicked={{this.refresh}}>
          {{t 'ember-mist-components.labels.refresh'}} <IconRefresh />
        </MenuItem>
      </MenuDropdown>
    </ul>
  </div>

  {{#if (and @listViewGrouping @listViewsAsTabs (eq @tabPosition 'bottom'))}}
    <ListViewTabs 
      @modelName={{this.activeModelName}} 
      @grouping={{@listViewGrouping}} 
      @valueChanged={{this.listViewChanged}} />
  {{/if}}

  {{#if this.fetchRecords.last}}
    {{yield (hash actions=(component 'ember-wormhole' to=(concat this.guid '-actions')) )}}

    {{#if this.isMultiModelNames}}
      <div class="model-table__type-selector">
        <InputSelect
          @class="plain-select"
          @selectOptions={{this.modelNameSelectOptions}}
          @value={{this.activeModelName}}
          @required={{true}}
          @valueChanged={{action this.activeModelNameChanged}} />
      </div>
    {{/if}}

    <div class="table-responsive">
      <table class="table table-hover{{if this.fetchRecords.isRunning ' is-busy'}}">
        <thead class="model-table__head">
          <tr>
            {{#each this.columns as |column|}}
              <th class="model-table__column{{if column.sorted ' model-table__column__sorted'}}{{if column.ascending ' model-table__column__sorted__asc' ' model-table__column__sorted__desc'}}"
                {{on "click" (fn this.onColumnClick column)}}>
                {{#if column.selectAll}}
                  <OutputCheckbox @value={{this.allRowsSelected}} />
                {{else}}
                  {{column.label}}
                {{/if}}
              </th>
            {{/each}}
          </tr>
        </thead>
        <tbody class="model-table__body">
          {{#if this.fetchRecords.isRunning}}
            <tr class="model-table__row model-table__is-loading">
              <td colspan={{this.columns.length}}>
                <Loading />
              </td>
            </tr>
          {{else}}
            {{#each this.table.rows as |row|}}
              <tr class="model-table__row is-selectable" 
                {{on "click" (fn this.rowSelected row)}} 
                {{on "mouseenter" (fn this.rowMouseEnter row)}} 
                {{on "mouseleave" (fn this.rowMouseLeave row)}}>
                {{#each this.columns as |column|}}
                  <td class="model-table__cell {{column.cellComponent}}">
                    {{component column.cellComponent row=row column=column}}
                    {{!-- <ModelTableCell @row={{row}} @column={{column}} /> --}}
                  </td>
                {{/each}}
              </tr>
            {{else}}
              <tr class="model-table__row model-table__no-data">
                <td colspan={{this.columns.length}}>
                  {{t 'ember-mist-components.table.no_data'}}
                </td>
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>

    <div class="table-footer">
      <ModelTableControls
        @isBusy={{this.fetchRecords.isRunning}}
        @currentPage={{this.query.page}}
        @lastPage={{this.lastPage}}
        @rows={{this.query.limit}}
        @firstRow={{this.resultRowFirst}}
        @lastRow={{this.resultRowLast}}
        @totalCount={{this.resultTotalCount}}
        @nextPage={{action this.nextPage}}
        @prevPage={{action this.prevPage}}
        @pageSelected={{action this.pageSelected}}
        @rowsSelected={{action this.limitChanged}} />
    </div>
  {{/if}}
</div>

