<div class={{this.class}}>

  {{#if (and @listViewGrouping this.listViewsAsTabs)}}
    <ListViewTabs @modelName={{this.activeModelName}} @grouping={{@listViewGrouping}} @valueChanged={{this.listViewChanged}} />
  {{/if}}
  <div class={{concat 'card-header ch-alt mist-model-table-header' (if this.searchVisible ' search-toggled')}}>
    <div class="table-header-title-wrapper">
      <h2>{{this.titleComputed}}</h2>
      {{#if this.fetchRecords.isRunning}}
        {{mist-spinner size="10px" tagName="span"}}
      {{else}}
        <span style="width: 10px;height:10px;display:inline-block;"></span>
      {{/if}}

      {{#if (and @listViewGrouping (not this.listViewsAsTabs))}}
        <ListViewSelect @modelName={{this.activeModelName}} @grouping={{@listViewGrouping}} @valueChanged={{this.listViewChanged}} />
      {{/if}}
    </div>

    <div class="h-search-wrap">
      <div class="hsw-inner">
        {{#if (not @searchFixed)}}
          <i class="hsw-close zmdi zmdi-close" {{action "toggleSearch"}}></i>
        {{/if}}

        <form {{action "search" on="submit"}}>
          <InputSearch @inputId={{this.searchInputId}} @value={{this.query.search}} @placeholder="Search..." @valueChanged={{action 'searchValueChanged'}} />
        </form>
      </div>
    </div>

    <div id={{concat guid '-new'}}></div>

    {{#mist-menu id=(concat guid '-actions') class="actions"}}
      {{#mist-menu-item action=(action "search") className="waves-circle"}}<i class="zmdi zmdi-search"></i>{{/mist-menu-item}}
      {{#mist-menu-dropdown-item className="waves-circle"}}
        {{#if (and listViewGrouping displayListViewLinks)}}
          {{#if (and activeListViewKey (is-numeric activeListViewKey))}}
            {{#mist-menu-item}}
              <a href="{{href-to 'list-view.edit' activeListViewKey}}">
                <i class="zmdi zmdi-menu"></i> Edit List View
              </a>
            {{/mist-menu-item}}
          {{/if}}
          {{#mist-menu-item}}
            <a href="{{href-to 'list-view.new'}}">
              <i class="zmdi zmdi-playlist-plus"></i> New List View
            </a>
          {{/mist-menu-item}}
        {{/if}}
        {{#mist-menu-item action=(action "refresh")}}<i class="zmdi zmdi-refresh zmdi-hc-lg"></i> Refresh{{/mist-menu-item}}
      {{/mist-menu-dropdown-item}}
    {{/mist-menu}}
  </div>

  {{#if fetchRecords.last}}
    {{yield (hash actions=(component 'ember-wormhole' to=(concat guid '-actions')) new=(component 'ember-wormhole' to=(concat guid '-new')))}}

    {{#if isMultiModelNames}}
      <div class="model-type-selector">
        {{input-select class="plain-select" selectOptions=modelNameSelectOptions value=activeModelName isRequired=true valueChanged=(action 'activeModelNameChanged')}}
      </div>
    {{/if}}

    {{#light-table table height=tableHeight class="table-responsive" tableClassNames=(concat "table table-hover" (if fetchRecords.isRunning ' is-busy')) as |t|}}
      {{#if (not hideColumnHeadings)}}
        {{t.head fixed=fixed onColumnClick=(action 'onColumnClick') iconAscending='zmdi zmdi-chevron-down' iconDescending='zmdi zmdi-chevron-up'}}
      {{/if}}

      {{#t.body onRowClick=(action 'rowSelected') onRowMouseEnter=(action 'rowMouseEnter') onRowMouseLeave=(action 'rowMouseLeave') as |body|}}
        {{#if table.isEmpty}}
          {{#body.no-data}}
            No data found
          {{/body.no-data}}
        {{/if}}
      {{/t.body}}
    {{/light-table}}

    <div class="table-footer">
      {{mist-model-table-controls toggleDisplaySelected=(action 'toggleDisplaySelected') amountSelected=amountSelected isBusy=fetchRecords.isRunning currentPage=query.page lastPage=lastPage rows=query.limit firstRow=resultRowFirst lastRow=resultRowLast totalCount=resultTotalCount nextPage=(action 'nextPage') prevPage=(action 'prevPage') pageSelected=(action 'pageSelected') rowsSelected=(action 'limitChanged')}}
    </div>
  {{/if}}
</div>

