<div class={{this.class}}>
  {{#if (and @listViewGrouping this.listViewsAsTabs)}}
    <ListViewTabs @modelName={{this.activeModelName}} @grouping={{@listViewGrouping}} @valueChanged={{this.listViewChanged}} />
  {{/if}}
  <div class={{concat 'card-header ch-alt model-table-header' (if this.searchVisible ' search-toggled')}}>
    <div class="table-header-title-wrapper">
      <h2>{{this.titleComputed}}</h2>
      {{#if this.fetchRecords.isRunning}}
        {{mist-spinner size="10px" tagName="span"}}
      {{else}}
        <span style="width: 10px;height:10px;display:inline-block;"></span>
      {{/if}}

      {{#if (and @listViewGrouping (not this.listViewsAsTabs))}}
        <ListViewSelect @modelName={{this.activeModelName}} @grouping={{@listViewGrouping}} @valueChanged={{this.listViewChanged}} />
      {{/if}}
    </div>

    <div class="h-search-wrap">
      <div class="hsw-inner">
        {{#if (not this.searchFixed)}}
          <button class="btn btn-link" {{on "click" this.toggleSearch}}>
            <IconClose />
          </button>
        {{/if}}

        <form {{action "search" on="submit"}}>
          <InputSearch @inputId={{this.searchInputId}} @value={{this.query.search}} @placeholder="Search..." @valueChanged={{action 'searchValueChanged'}} />
        </form>
      </div>
    </div>

    <div id={{concat guid '-new'}}></div>

    <ul id={{concat guid '-actions'}} class="actions">
      <li><a {{on "click" this.search}} role="button" class="waves-effect waves-circle"><IconSearch /></a></li>

      <MenuDropdown @class="waves-circle">
        {{#if (and @listViewGrouping this.displayListViewLinks)}}
          {{#if (and this.activeListViewKey (is-numeric this.activeListViewKey))}}
            <li>
              <a href={{href-to 'list-view.edit' this.activeListViewKey}}>
                <IconListViewEdit /> {{t 'ember-mist-components.list-view.edit'}}
              </a>
            </li>
          {{/if}}
          <li>
            <a href={{href-to 'list-view.new'}}>
              <IconListViewNew /> {{t 'ember-mist-components.list-view.new'}}
            </a>
          </li>
        {{/if}}
        <li>
          <a {{on "click" this.refresh}} role="button">
            <IconRefresh /> {{t 'ember-mist-components.labels.refresh'}}
          </a>
        </li>
      </MenuDropdown>
    </ul>
  </div>

  {{#if this.fetchRecords.last}}
    {{yield (hash actions=(component 'ember-wormhole' to=(concat guid '-actions')) new=(component 'ember-wormhole' to=(concat guid '-new')))}}

    {{#if this.isMultiModelNames}}
      <div class="model-type-selector">
        <InputSelect
          @class="plain-select"
          @selectOptions={{this.modelNameSelectOptions}}
          @value={{this.activeModelName}}
          @required={{true}}
          @valueChanged={{action 'activeModelNameChanged'}} />
      </div>
    {{/if}}

    {{#light-table this.table height=@tableHeight class="table-responsive" tableClassNames=(concat "table table-hover" (if this.fetchRecords.isRunning ' is-busy')) as |t|}}
      {{t.head fixed=fixed onColumnClick=(action 'onColumnClick') iconAscending='zmdi zmdi-chevron-up' iconDescending='zmdi zmdi-chevron-down'}}

      {{#t.body onRowClick=(action 'rowSelected') onRowMouseEnter=(action 'rowMouseEnter') onRowMouseLeave=(action 'rowMouseLeave') as |body|}}
        {{#if this.table.isEmpty}}
          {{#body.no-data}}
            No data found
          {{/body.no-data}}
        {{/if}}
      {{/t.body}}
    {{/light-table}}

    <div class="table-footer">
      <ModelTableControls
        @toggleDisplaySelected={{action 'toggleDisplaySelected'}}
        @amountSelected={{this.amountSelected}}
        @isBusy={{this.fetchRecords.isRunning}}
        @currentPage={{this.query.page}}
        @lastPage={{this.lastPage}}
        @rows={{this.query.limit}}
        @firstRow={{this.resultRowFirst}}
        @lastRow={{this.resultRowLast}}
        @totalCount={{this.resultTotalCount}}
        @nextPage={{action 'nextPage'}}
        @prevPage={{action 'prevPage'}}
        @pageSelected={{action 'pageSelected'}}
        @rowsSelected={{action 'limitChanged'}} />
    </div>
  {{/if}}
</div>

