{{#if value}}
  <div id={{carouselName}} class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{#each value as |imageValue index|}}
        <li data-target={{concat '#' carouselName}} data-slide-to={{index}} class={{if (eq index 0) " active" }}></li>
      {{/each}}
    </ol>

    <div class="carousel-inner" role="listbox">
      {{#each value as |imageValue index|}}
        <div class="item{{if (eq index 0) " active" }}">
          <InputFileDrupal
            @value={{imageValue}}
            @field={{@field}}
            @multiple=true
            @modelName={{this.modelName}}
            @options={{this.modifiedOptions}}
            @valueChanged={{action 'didChangeValue' index}} />

          <OutputImage
            @value={{imageValue}}
            @style={{this.style}}
            @class={{this.options.style}} />
        </div>
      {{/each}}
    </div>

    <a class="left carousel-control" href={{concat '#' carouselName}} role="button" data-slide="prev">
      <IconArrowLeft />
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href={{concat '#' carouselName}} role="button" data-slide="next">
      <IconArrowRight />
      <span class="sr-only">Next</span>
    </a>
  </div>
{{/if}}

<div class="input-field-images-browse">
  Add Images:
  <InputFileDrupal
    @field={{@field}}
    @multiple=true
    @modelName={{this.modelName}}
    @options={{this.modifiedOptions}}
    @valueChanged={{action 'didChangeValue' null}} />
</div>