{{#if value}}
  <div id={{carouselName}} class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{#each value as |imageValue index|}}
        <li data-target={{concat '#' carouselName}} data-slide-to={{index}} class={{if (eq index 0) " active" }}></li>
      {{/each}}
    </ol>

    <div class="carousel-inner" role="listbox">
      {{#each value as |imageValue index|}}
        <div class="item{{if (eq index 0) " active" }}">
          {{input-file-drupal value=imageValue field=field modelName=modelName options=modifiedOptions valueChanged=(action 'valueChanged' index)}}
          {{output-image style=options.style value=imageValue}}
        </div>
      {{/each}}
    </div>

    <a class="left carousel-control" href={{concat '#' carouselName}} role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href={{concat '#' carouselName}} role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{{/if}}

Add Images: {{input-file-drupal field=field modelName=modelName options=modifiedOptions multiple=true valueChanged=(action 'valueChanged' null)}}