<li class={{if this.isActive "nav-item active" "nav-item"}}>
  <button
    type="button"
    role="tab"
    class="nav-link{{if @disabled ' disabled'}}"
    data-bs-toggle="tab"
    aria-disabled={{@disabled}}
    aria-expanded={{this.isActive}}
    {{on "click" (fn this.setActive)}}
    ...attributes
  >
    {{yield}}
  </button>
</li>