<ul class="h-inner">
  <li id="menu-trigger" class="hi-trigger ma-trigger{{if sidebarToggled ' toggled'}}" {{action 'toggleSidebar'}}>
    <div class="line-wrap">
      <div class="line top"></div>
      <div class="line center"></div>
      <div class="line bottom"></div>
    </div>
  </li>

  <li class="hi-logo hidden-xs">
    <a href="{{href-to "index"}}">{{title}}</a>
  </li>

  <li class="pull-right">
    {{yield}}
  </li>
</ul>
