<div class="row" ...attributes>
  <div class="col-12 col-sm-6 controls left">
  </div>
  <div class="col-12 col-sm-6 controls right">
    <ul>
      <li class="infos">
        {{#if @isBusy}}
          <Loading />
        {{else}}
          {{@firstRow}} - {{@lastRow}} {{t "ember-mist-components.labels.of"
          }} {{@totalCount}}
        {{/if}}
      </li>
      <li>
        {{t "ember-mist-components.table.rows"}}:
        <InputSelect
          @class="plain-select"
          @selectOptions={{this.rowSelectOptions}}
          @value={{this.rowsValue}}
          @valueChanged={{this.didSelectRows}}
          @required={{true}}
        />
      </li>
      <li>
        <button
          class="btn btn-link btn-icon"
          type="button"
          {{on "click" this.goToPrevPage}}
        >
          <IconChevronLeft />
        </button>

        <InputSelect
          @class="plain-select"
          @selectOptions={{this.pageSelectOptions}}
          @value={{@currentPage}}
          @valueChanged={{this.didSelectPage}}
          @required={{true}}
        />

        <button
          class="btn btn-link btn-icon"
          type="button"
          {{on "click" this.goToNextPage}}
        >
          <IconChevronRight />
        </button>
      </li>
    </ul>
  </div>
</div>