<Modal
  @dialogClass="modal-lg"
  @modalBodyClass="lookup-window__wrapper"
  @closeOnRouteChange={{true}} as |Element|
>
  <Element.trigger>
    {{#if hasBlock}}
      {{yield Element.show}}
    {{else}}
      <button type="button" class="btn btn-default" {{on "click" Element.show}}>
        <IconSearch />
      </button>
    {{/if}}
  </Element.trigger>
  <Element.header>
    <button class="btn btn-icon" type="button" {{on "click" Element.close}}>
      <i class="icon-cancel"></i>
    </button>
  </Element.header>
  <Element.body>
    <div class="lookup-window">
      {{#if (eq Element.status "visible")}}
        <ModelTable
          @title={{@title}}
          @modelName={{@modelName}}
          @activeModelName={{@activeModelName}}
          @baseQuery={{@baseQuery}}
          @searchFixed={{true}}
          @modelListView={{@modelListView}}
          @listViewGrouping={{@listViewGrouping}}
          @onRowSelected={{fn this.didSelectRow Element}} as |Table|
        >
          <Table.actions>
            <MenuItem>
              <button
                class="btn btn-link action-menu__link"
                type="button"
                {{on "click" Element.close}}
              >
                <IconClose />
              </button>
            </MenuItem>
          </Table.actions>
        </ModelTable>
      {{/if}}
    </div>
  </Element.body>
</Modal>