<div id={{this.modalId}} class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        {{#if modalVisible}}
          <ModelTable
            @title={{@title}}
            @modelName={{@modelName}}
            @activeModelName={{@activeModelName}}
            @conditions={{@conditions}}
            @class="model-table model-table__lookup-window"
            @searchFixed=true
            @listViewGrouping={{@listViewGrouping}}
            @onRowSelected={{action 'didSelectRow'}}
            as |table| >

            {{#table.actions}}
              {{#mist-menu-item action=(action "closeModal") className="waves-circle"}}
                <IconClose />
              {{/mist-menu-item}}
            {{/table.actions}}
          </ModelTable>
        {{/if}}
      </div>
    </div>
  </div>
</div>


{{#if hasBlock}}
  {{yield (action 'showModal')}}
{{else}}
  <button type="button" class="btn btn-default waves-effect btn-link" {{action 'showModal'}}>
    <IconSearch />
  </button>
{{/if}}
