<div id={{this.modalId}} class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        {{#if modalVisible}}
          <ModelTable
            @title={{@title}}
            @modelName={{@modelName}}
            @activeModelName={{@activeModelName}}
            @baseQuery={{@baseQuery}}
            @class="model-table model-table__lookup-window"
            @searchFixed={{true}}
            @modelListView={{@modelListView}}
            @listViewGrouping={{@listViewGrouping}}
            @onRowSelected={{action 'didSelectRow'}}
            as |table| >

            <Table.actions>
              <li><a {{on "click" this.closeModal}} role="button" class="waves-effect waves-circle"><IconClose /></a></li>
            </Table.actions>
          </ModelTable>
        {{/if}}
      </div>
    </div>
  </div>
</div>


{{#if hasBlock}}
  {{yield (action 'showModal')}}
{{else}}
  <button type="button" class="btn btn-default waves-effect btn-link" {{on "click" this.showModal}}>
    <IconSearch />
  </button>
{{/if}}
