<Modal @dialogClass="modal-lg" @modalBodyClass="lookup-window__wrapper" @closeOnRouteChange={{true}} as |Element|>
  <Element.trigger>
    {{#if hasBlock}}
      {{yield Element.show}}
    {{else}}
      <button type="button" class="btn btn-default" {{on "click" Element.show}}>
        <IconSearch />
      </button>
    {{/if}}
  </Element.trigger>
  <Element.header>
    <button class="btn btn-icon" {{on "click" Element.close}}>
      <i class="icon-cancel"></i>
    </button>
  </Element.header>
  <Element.body>
    <div class="lookup-window">
      {{#if (eq Element.status "visible")}}
        <ModelTable
          @title={{@title}}
          @modelName={{@modelName}}
          @activeModelName={{@activeModelName}}
          @baseQuery={{@baseQuery}}
          @searchFixed={{true}}
          @modelListView={{@modelListView}}
          @listViewGrouping={{@listViewGrouping}}
          @onRowSelected={{action this.didSelectRow Element}}
          as |Table| >

          <Table.actions>
            <MenuItem><a {{on "click" Element.close}} class="action-menu__link" role="button"><IconClose /></a></MenuItem>
          </Table.actions>
        </ModelTable>
      {{/if}}
    </div>
  </Element.body>
</Modal>