<span class={{this.computedClass}}>
  {{#if (and @value @prefix)}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  {{#if value.id}}
    <a class="value" href={{if @options.filename (concat value.url '&filename=' @options.filename) value.url}} target="_blank">
      {{#if @options.filename}}
        {{@options.filename}} <IconDownload />
      {{else}}
        {{value.filename}} <IconDownload />
      {{/if}}
    </a>
  {{else}}
    <span class="value empty"></span>
  {{/if}}
  {{#if (and @value @suffix)}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>