<a {{action "toggleProfileMenu"}} style={{profileMenuBackgroundStyle}}>
  <div class="profile-pic">
    {{output-field-image model=user field="profilePicture"}}
  </div>

  <div class="profile-info">
    {{user.name}}

      <i class="zmdi zmdi-chevron-up"></i>
  </div>
</a>

{{#mist-menu class=profileMenuClasses}}
  {{yield}}
{{/mist-menu}}
