<a {{action "toggleProfileMenu"}} style={{profileMenuBackgroundStyle}}>
  <div class="sp-pic">
    {{#if user}}
      {{output-field-image model=user field="userPicture"}}
    {{/if}}
  </div>

  <div class="sp-info">
    {{user.name}} <i class="zmdi zmdi-chevron-up"></i>
  </div>
</a>

{{#mist-menu class=profileMenuClasses}}
  {{yield}}
{{/mist-menu}}
