<a {{action "toggleProfileMenu"}} style={{profileMenuBackgroundStyle}}>
  <div class="profile-pic">
    <img src="{{user.profilePicture.url}}" alt="{{user.profilePicture.alt}}">
  </div>

  <div class="profile-info">
    {{user.name}}

      <i class="zmdi zmdi-chevron-up"></i>
  </div>
</a>

{{#mist-menu class=profileMenuClasses}}
  {{yield}}
{{/mist-menu}}
